.launch{
    color: black;
    overflow: hidden;
    padding: 3rem;
    line-height: 1.8em;
}
.launch h2{
    font-size: 40px;
}
.launch-row1{
    font-size: 18px;
    opacity: .8;
}
.launch-row2{
    display: flex;
    align-items: center;
    gap: 1.2rem;
    flex-wrap: wrap;
    margin-top: 2.6rem;
    margin-bottom: 5rem;
}
.launch-row2-col{
    /* border: 1px solid black; */
    width: 15rem;
    line-height: 2.2em;
}
.launch-row2-col div:first-child{
    font-size: 28px;
    font-weight: 600;
}
.launch-row2-col div:last-child{
    font-size: 16px;
    opacity: .8;
}
.launch-row3{
    margin-bottom: 1.6rem;
}
.launch-row4{
    display: flex;
    gap: 2rem;
}
.launch-row4-col1{
    width: 19rem;
    height: 13rem;
    border: 1px solid black;
    border-radius: .68rem;
}
.launch-row4-col1 img{
    width: 100%;
    height: 100%;
    border-radius: .6rem;
}
.launch-row4-col2{
    line-height: 2.4em;
    font-size: 14px;
}
.launch-row4-col2-row1{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.launch-row4-col2 h6{
    font-size: 28px;
}

.css-1g6lkvi{
    width: 1.2rem;
    height: 1.2rem;
}
.css-t4w8lb{
    width: 1.2rem;
    height: 1.2rem;
}
.launch-row4-col2 button{
    display: flex;
    align-items: center;
    gap: .6rem;
    padding: .1rem .6rem;
    border-radius: .3rem;
}
.launch-row4-col3{
    display: flex;
    gap: 3rem;
}
.launch-row4-col3-row{
    margin-top: 1rem;
}
.launch-row4-col3-row .launch-row4-col3-row1{
    display: flex;
    width: 23rem;
    justify-content: space-between;
}
.launch-row4-col3-row1 div:last-child{
    font-size: 15px;
    font-weight: 600;
    opacity: 1;
    color: black;
}
.launch-row4-col3-row1 div:first-child{
    opacity: .8;
}
.launch-row4-col4{
    width: 23rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 1.3rem;
}
.launch-row4-col4 div:first-child{
    opacity: .8;
}
.launch-row4-col4 div:last-child{
    font-size: 15px;
    font-weight: 600;
}
.launch-row5{
    margin-top: 6rem;
    margin-bottom: 2rem;
}
.launch-row6{
    background: linear-gradient(80.41deg, rgb(248, 248, 248) 0%, rgb(250, 250, 250) 100%);
    width: 100%;
    margin: 0 auto;
    border-radius: 1rem;
    display: flex;
    padding: 2rem;
    gap: 3rem;
}
.css-i0b5kf{
    width: 1rem;
    height: 1rem;
}
.launch-row6-col1{
    width: 19rem;
}
.launch-row6-col1 button{
    display: flex;
    align-items: center;
    gap: .6rem;
    padding: .1rem .5rem;
    border-radius: .3rem;
    opacity: .8;
}
.launch-row6-col1-row1{
    margin: 2rem 0;
    display: flex;
    align-items: center;
    gap: .6rem;
}
.launch-row6-col1-row1 img{
    width: 2.5rem;
    height: 1.9rem;
}
.launch-row6-col1-row1 div{
    font-size: 24px;
    font-weight: 600;
}
.launch-row6-col1-row2{
   width: 86%;
   /* border: 1px solid black; */
   opacity: .8;
   line-height: 1.3em;
   margin-bottom: 2rem;
}
.launch-row6-col1-row3{
    display: flex;
    justify-content: space-between;
}
.launch-row6-col1-row3 div:first-child{
    opacity: .8;
}
.launch-row6-col1-row3 div:last-child{
    font-size: 14px;
    font-weight: bold;
}
.launch-row6-col1-row4{
    display: flex;
    justify-content: space-between;
    margin-top: 3.6rem;
}
.launch-row6-col1-row4 div:first-child{
    opacity: .8;
}
.launch-row6-col1-row4 div:last-child{
    font-size: 14px;
    font-weight: bold;
}
.launch-row6-col2{
    width: 19rem;
    /* border: 1px solid black; */
    /* padding-top: 3.6rem; */
    padding: 3.6rem .5rem .5rem .5rem;
    background-color: white;
    border-radius: 1rem;
}
.launch-row6-col2-row1{
    display: flex;
    align-items: center;
    gap: .6rem;
    justify-content: center;
    
}
.launch-row6-col2-row1 img{
    width: 1.6rem;
    height: 1.6rem;
}
.launch-row6-col2-row1 div{
    font-size: 18px;
    font-weight: 600;
}
.launch-row6-col2-row2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: .5rem;
    opacity: .8;
    font-size: 14px;
}
.launch-row6-col2-row3{
    width: 5.5rem;
    height: 5.2rem;
    border-radius: 50%;
    padding: .2rem .4rem;
    border: 1px solid rgb(223, 223, 223);
    margin: 1.8rem auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.launch-row6-col2-row3 img:first-child{
    width: 2.2rem;
    height: 2.2rem;
}
.launch-row6-col2-row3 img:last-child{
    width: 2rem;
    height: 1.8rem;
}
.launch-row6-col2-row4{
    display: flex;
    justify-content: space-between;
}
.launch-row6-col2-row4 div:first-child{
    opacity: .8;
}
.launch-row6-col2-row4 div:last-child{
    font-size: 14px;
    font-weight: 600;
}
.launch-row7{
    display: flex;
    width: 100%;
    /* border: 1px solid black; */
    justify-content: space-between;
    margin: 6rem 0;
}
.launch-row7-col1{
    width: 34%;
    display: flex;
    flex-direction: column;
    text-align: justify;
    justify-content: center;
    gap: .6rem;
}
.launch-row7-col2{
    width: 46%;
    /* border: 1px solid black; */
    margin: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    padding: 1rem 7.5rem;
}
.launch-row6-col2-img1{
    width: 4.5rem;
    height: 4.5rem;
    margin-left: .7rem;
}
.launch-row6-col2-img1 img{
    width: 100%;
    height: 100%;
}
.launch-row6-col2-img2{
    width: 3.5rem;
    height: 3.5rem;
}
.launch-row6-col2-img2 img{
    width: 100%;
    height: 100%;
    margin-top: 3rem;
    margin-right: 2rem;
}
.launch-row6-col2-img3{
    width: 6.5rem;
    height: 6.5rem;
    margin-top: 2.4rem;
}
.launch-row6-col2-img3 img{
    width: 100%;
    height: 100%;
}
.launch-row6-col2-img6{
    width: 8rem;
    height: 8rem;
    margin-top: 2rem;
    margin-left: 6rem;
}
.launch-row6-col2-img3 img{
    width: 100%;
    height: 100%;
}
.launch-row6-col2-img4{
    width: 3rem;
    height: 4.6rem;
    margin-left: 2.6rem;
}
.launch-row6-col2-img4 img{
    width: 100%;
    height: 100%;
}
.launch-row6-col2-img5{
    width: 5rem;
    height: 3.8rem;
    margin-left: -.7rem;
}
.launch-row6-col2-img5 img{
    width: 100%;
    height: 100%;
}
.launch-row7-col1 h4{
    font-size: 29px;
}
.launch-row7-col1 div{
    line-height: 1.4em;
    opacity: .8;
    font-size: 14px;
}
.launch-row6-btn1{
    background-color: white;
    outline: none;
    text-decoration: underline;
    display: flex;
    align-items: flex-start;
    margin: .7rem 0;
}
.launch-row6-btn2{
    background-color: rgb(45,86,225);
    width: 44%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.6rem;
    font-weight: bold;
    font-size: 15px;
    border-radius: .4rem;
}
.css-auxgy3{
    width: 5.2rem;
    height: 5.2rem;
}
.launch-row8-col1{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}
.launch-row8 h4{
    font-size: 34px;
}
.launch-row8-col1-row1{
    width: 17rem;
    margin: 2.4rem 0;
    /* border: 1px solid black; */
    line-height: 1.3em;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.launch-row8-col1-row1 h6{
    font-size: 20px;
}
.launch-row8-col1-row1 div{
    color: gray;
}

@media screen and (max-width: 940px){
    .launch{
        padding: 3rem 1rem;
    }
    .launch-row7{
        flex-direction: column;
        gap: 3.6rem;
    }
    .launch-row7-col1{
        width: 98%;
    }
    .launch-row7-col2{
        width: 98%;
        padding: 1rem;
    }
    .launch div{
        font-size: 20px;
    }
    .launch-row6{
        flex-direction: column;
    }
    .launch-row6-col1{
        width: 98%;
        margin: auto;
    }
    .launch-row6-col2{
        width: 98%;
        margin: auto;
    }
    .launch-row4{
        flex-direction: column;
        width: 100%;
    }
    .launch-row4-col1{
        width: 96%;
        margin: auto;
    }
    .launch-row4-col3{
        flex-direction: column;
        width: 100%;
    }
    .launch-row8-col1{
        gap: 1rem;
        margin-top: 2rem;
    }
    .launch-row8-col1-row1{
        width: 22rem;
    }
    .launch-row4-col3-row .launch-row4-col3-row1, .launch-row4-col4{
        width: 100%;
        font-size: 20px;
    } 

}

