.realtime{
    background-color:  #1E1E1E;
    overflow: hidden;
    color: white;
    padding: 2rem 3rem 10rem 3rem;
}
.active .realp{
    border: 1px solid #2D56E1;
    padding: .6rem 1rem;
    border-radius: .6rem;
    color: #2D56E1;
    font-weight: bold;
    cursor: pointer;
}
/* .realtime .history3col3 p:nth-child(2){
    border: none;
    padding: 0;
    border-radius: .6rem;
    color: white;
    font-weight: normal;
    cursor: pointer;
} */
@media screen and (max-width: 460px){
    .realtime{
        padding: 2rem 1rem 10rem 1rem;
    }
}