.strat4{
    background-color: black;
    color: white;
    overflow: hidden;
}
.strat4 .state3row1-scroll {
    padding-bottom: 5rem;
}
.strat4 .stat3col2{
    display: flex;
    gap: 1rem;
    background-color: #161616;
    color: white;
    width: fit-content;
    padding: .3rem 1.3rem .8rem 1.3rem;
    align-items: baseline;
    font-weight: bold;
    border-radius: .6rem;
    margin-top: 1rem;
}
.strat4 .stat3col2 p:first-child{
    color: blue;
    cursor: pointer;
}
.strat4 .stat3col2 p,img{
    cursor: pointer;
}
.strat4 .strate4btn1{
    margin: 2rem 0;
    padding: 0 2.4rem;
    color: white;
}
.strate4btn1 button{
    background-color: #161616;
    color: blue;
    font-weight: bold;
    padding: .6rem 1.4rem;
    display: flex;
    gap: .5rem;
    align-items: center;
    border-radius: .6rem;
    font-size: 15px;
}
.strate4btn1 button img{
    width: .5rem;
}