.verify{
    background-color:  #1E1E1E;
    overflow: hidden;
    color: white;
    height: 86vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.verifycol1{
    z-index: 1000;
    background-color: #161616;
    padding: 2rem;  
    width: 25rem;
    max-width: 86%;
    border-radius: 1rem;  
}
.verify1row1{
    width: 100%;
    position: relative;
    margin-bottom: .8rem;
}
.verify1row1 input{
    width: 98%;
    height: 2.4rem;
    background-color: inherit;
    border: 1px solid white;
    border-radius: .6rem;
    outline: none;
    padding: 0 .5rem;
}
.verify1row1 button{
    background-color: inherit;
    color: green;
    font-weight: bold;
    position: absolute;
    right: 8%;
    top: 20%;
    z-index: 2;
    transform: translateX(2px);
}
.verifycol1 p{
    opacity: .8;
}
.verifycol1 :nth-child(2){
    margin-bottom: 1rem;
}
.verifycol1 :nth-child(7){
    margin:1rem 0;
    opacity: .4;
}
.verify1btn{
    width: 98%;
    background-color: #2D56E1;
    height: 2.4rem;
    border-radius: .6rem;
}

@media screen and (max-width: 690px){
    .verifycol1{
        padding: 2rem .8rem;  
    }
}