.wafutures{
    display: flex;
    overflow: hidden;
    color: black;
    width: 100%;
}
.wafutures-sec{
    padding: 2rem 1.4rem;
    width: 82%;
}
.wafutures-sec-col{
    width: 66%;
    margin: 5rem auto;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
}
.wafutures-sec-col img{
    margin: 1rem 0;
}
.wafutures-sec-col1{
    font-size: 22px;
}
.wafutures-sec-col2{
    opacity: .8;
}
.wafutures-sec-col3{
    text-decoration: none;
    font-size: 15px;
}
.wafutures-sec-col3 a:hover{
    text-decoration: none;
}
.wafutures-sec-col4{
    display: flex;
    flex-direction: column;
    gap: .6rem;
    width: 62%;
}
.wafutures-sec-col4 input{
    height: 2.4rem;
    padding: .5rem;
    outline: none;
    border: none;
    border-radius: .4rem;
    background-color: rgb(245, 245, 245);
}
.wafutures-sec-col4 button{
    height: 2.4rem;
    border-radius: .4rem;
    font-weight: bold;
    background-color: rgb(45,86,225);
    border: 2px solid rgb(45,86,225);
}
.wafutures-sec-col4 a:hover{
    text-decoration: none;
    cursor: pointer;
}
.wafutures-sec-col4 input[type=text]:focus{
    outline: none;      /* Remove default outline and use border or box-shadow */
    box-shadow: 0 0 0 1px rgb(45,86,225); /* Full freedom. (works also with border-radius) */
  }

@media screen and (max-width: 790px){
    .wafutures-sec{
        padding: 2rem 1.4rem;
        margin-top: 2rem;
        width: 100%;
    }
    .wafutures-sec-col{
        width: 80%;
    }
}