.wflat-main{
    background-color: #1E1E1E;

}
.wflat-main-bg-img{
    height:auto;
    width:100%;
    background: rgba(7, 7, 7, 0.9);
}
.wflat-main-bg-img img{
    height:inherit;
    width:inherit;
}

.wflat-content{
    position: absolute;
    top: 10rem;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100%;

    /* background-color: rgb(42, 105, 160); */
}
.wflat-content-container{
    /* background-color: aqua; */
    margin-left:5rem;
    margin-right:5rem;
}
.wflat-content-head{
    display: flex;
    position: relative;
}
.wflat-content-head-div1-txt{
    font-size: 32px;
    font-weight: 600;
    color:white;
}
.wflat-content-head-div2{
    position:absolute;
    right:0;
}
.wflat-content-head-div2 img{
margin:0.3rem;
}
.wflat-content-head-div2 button{
    /* padding:12px, 24px, 12px, 24px; */
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin:0.5rem;
    border-radius: 0.5rem;
    background-color: rgba(22, 22, 22, 1);
}
.wflat-content-head-div2-btn1{
    color: rgba(95, 131, 255, 1);
}
.wflat-content-head-div2-btn2{
    color: white;
}


.wflat-content-box{
    position:relative;
    padding-top:5rem;
    color:white;
    height:auto;
    display:flex;
    /* border: green 4px solid; */
    
    }
    .wflat-content-box1{
        width:50%;
        position:absolute;
        /* left:0; */
        /* border:red solid 2px; */
    }
    .wflat-content-box2{
        width:50%;
        /* border:red solid 2px; */
    }
    

.wflat-content-box1-main{
    background-color: rgba(22, 22, 22, 1);
    width:25rem;
    padding:2rem;
    border-radius:1rem;
}
.wflat-content-box1-container{
    margin:0.5rem;
    /* border:pink 2px solid; */
}
.wflat-content-box1-div1{
    margin-bottom: 1rem;
}
.wflat-content-box1-div1-txt{
    font-size:20px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);

}

.wflat-content-box1-div2{
border:grey 1px solid;
border-radius:0.5rem;
    position:relative;
    margin-top:1rem;
    padding:1rem;
    background-color: rgba(22, 22, 22, 1);
    width:100%;
    /* display:flex; */
}
.wflat-content-box1-div2a{
    background-color: transparent;

}
.wflat-content-box1-div2a img{
   /* padding:2rem;  */
   width:2rem;
   height:2rem;

}

.wflat-content-box1-div2 img{
    margin-right:1rem;
}

.wflat-content-box1-div2-txt1{
    font-size:14px;
    color: rgba(255, 255, 255, 1);
font-weight: 500;
margin-top:2rem;
display:block;
}
.wflat-content-box1-div2-txt2{
    font-size: 14px;
    font-weight: 600;
}



.wflat-content-box1-div2a-img2{
    position:absolute;
    right:0;
    top:1.5rem;
}


.wflat-content-box1-div3{
    margin-top:1.5rem;
}
.wflat-content-box1-div3a{
width:auto;
margin-top:1rem;
border-radius:0.5rem;
    background-color:rgba(8, 8, 8, 1);
}
.wflat-content-box1-div3a button{
    /* padding:12px, 24px, 12px, 24px; */
    padding: 0.5rem 1rem 0.5rem 1rem;
    margin:0.5rem;
    border-radius: 0.5rem;

}
.wflat-content-box1-div3a-btn1{
    background-color: rgba(45, 86, 225, 1);
    
}
.wflat-content-box1-div3a-btn2{
    background-color: rgba(8, 8, 8, 1);

    
}

.wflat-content-box1-div4{
    margin-top:1.5rem;
}

.wflat-content-box1-div4a{
    display:flex;
    border:grey 1px solid;
    border-radius:0.5rem;
        position:relative;
        margin-top:1rem;
        padding:1rem;
        /* display:flex; */
}
.wflat-content-box1-div4a-div1{
    display:flex;
}
.wflat-content-box1-div4a-div1 img{
border-radius:50%;
height:1.5rem;
margin-top:0.5rem;
margin-right:0.5rem;
margin-left:0.5rem;

}
.wflat-content-box1-div4a-div2-txt1{
display:block;
}

.wflat-content-box1-div5{
    width:auto;
    margin-top: 1.5rem;
}
.wflat-content-box1-div5 button{
    width:100%;
    background-color: rgba(45, 86, 225, 1);
    border-radius: 0.5rem;
    padding:0.7rem;
    font-size: 14px;
    font-weight: 600;
}

.wflat-content-box1-div5 img{
    margin-right: 0.5rem;
}

/* box2 styling/////////// */


.wflat-content-box2-main{
    background-color: rgba(22, 22, 22, 1);
    width:25rem;
    padding:2rem;
    position: absolute;
    right:0;
    border-radius:1rem;
}
.wflat-content-box2-container{
    margin:0.5rem;
    /* border:pink 2px solid; */
    position:relative;
}
.wflat-content-box2-div1-img{
    position: absolute;
    right:0;
    margin-top:0.5rem;
}
.wflat-content-box2-div1-txt2{
    position: absolute;
    right:0;
    color: rgba(95, 131, 255, 1);
    font-size:14px;

}
.wflat-content-box2-div3{
    margin-top:1.5rem;
}
.wflat-content-box2-div3a{
    margin-top:1rem;
    display:flex;
    cursor: pointer;
}
.wflat-content-box2-div3a-div1{
    width:50%;
}
.wflat-content-box2-div3a-txt{
    font-size:14px;
    /* width:5rem; */
}
.wflat-content-box2-div3a img{
    position: absolute;
    right:0;
    margin-top:1rem;
}


.wflat-content-box2-div3a-onclick-main{
    width:auto;
    background-color: transparent;
    /* border:grey 1px solid; */
    border-radius: 0.5rem;
    padding:1rem;
    
    margin-top:0.5rem;
}
.wflat-content-box2-div3a-onclick-main-txt{
    font-size:14px;
}


@media screen and (max-width: 1100px) {
    .wflat-main{
        background-color: #1E1E1E;
        height:60rem;

    }
    .wflat-main-bg-img{
        height:100%;
        width:100%;
        background: rgba(7, 7, 7, 0.9);
    }
}
@media screen and (max-width: 980px) {
    .wflat-main{
        background-color: #1E1E1E;
        height:80rem;

    }
    .wflat-main-bg-img{
        height:100%;
        width:100%;
        background: rgba(7, 7, 7, 0.9);
    }
    .wflat-content-head{
        display: block;
        position: relative;
    }

    .wflat-content-head-div2{
        position:absolute;
        left:-0.5rem;

    }


    .wflat-content-box{
        display:block;
        }
        .wflat-content-box1{
            display: block;
        }
        .wflat-content-box2-main{
            left:0;
            right:none;
            top:50rem;
            /* border: red 2px solid; */
        }
}


@media screen and (max-width: 550px) {
    .wflat-main{
        background-color: #1E1E1E;
        height:58rem;

    }
    .wflat-main-bg-img{
        height:100%;
        width:100%;
        background: rgba(7, 7, 7, 0.9);
    }
    
    .wflat-content-container{
        /* background-color: aqua; */
        margin-left:2rem;
        margin-right:2rem;
    }

.wflat-content-box1-main{
    width:18rem;
    padding:1rem;
    border-radius:0.5rem;
}
.wflat-content-box1-container{
    margin:1rem;
    /* border:pink 2px solid; */
}
.wflat-content-box1-div1{
    margin-bottom: 0.5rem;
}
.wflat-content-box1-div1-txt{
    font-size:15.29px;
}

.wflat-content-box1-div2{
border:grey 1px solid;
border-radius:0.3rem;
    margin-top:1rem;
    padding:0.5rem;
}

.wflat-content-box1-div2a img{
   /* padding:2rem;  */
   width:2rem;
   height:2rem;

}

.wflat-content-box1-div2 img{
    margin-right:1rem;
}

.wflat-content-box1-div2-txt1{
    font-size:10.7px;
    margin-top:1rem;
}
.wflat-content-box1-div2-txt2{
    font-size: 10.7px;
    font-weight: 600;
}



.wflat-content-box1-div2a-img2{
    position:absolute;
    right:0.5rem;
    top:1.5rem;
}
.wflat-content-box1-div3{
    margin-top:0.5rem;
}
.wflat-content-box1-div3a{
    margin-top:0.5rem;
}
.wflat-content-box1-div3a button{
    padding: 0.25rem 0.5rem 0.25rem 0.5rem;
    margin:0.5rem;
    border-radius: 0.2rem;
font-size: 10.7px;
}


.wflat-content-box1-div4{
    margin-top:1rem;
}

.wflat-content-box1-div4a{
    border-radius:0.5rem;
        margin-top:0.5rem;
        padding:0.3rem;
        /* display:flex; */
}

.wflat-content-box1-div4a-div1 img{
margin-top:0.3rem;
}


.wflat-content-box1-div5{
    width:auto;
    margin-top: 1rem;
}
.wflat-content-box1-div5 button{
    width:100%;
    background-color: rgba(45, 86, 225, 1);
    border-radius: 0.3rem;
    padding:0.4rem;
    font-size: 10.7px;
}

.wflat-content-box1-div5 img{
    margin-right: 0.5rem;
}
.wflat-content-box1-div5-txt{
    font-size: 9.17px;
}


.wflat-content-box2-main{
    width:18rem;
    top:37rem;
    padding:1rem;
    border-radius:0.5rem;
}
.wflat-content-box2-container{
    margin:1rem;
}
.wflat-content-box1-div1 img{
    height:0.6rem;
    width:0.6rem;
}

.wflat-content-box2-div1-txt2{
    font-size:12.27px;
}
.wflat-content-box2-div3{
    margin-top:1rem;
}
.wflat-content-box2-div3a{
    margin-top:1rem;
    display:flex;
    cursor: pointer;
}
.wflat-content-box2-div3a-div1{
    width:65%;
}
.wflat-content-box2-div3a-txt{
    font-size:12.27px;
    /* width:5rem; */
}
.wflat-content-box2-div3a img{
    position: absolute;
    right:0;
    margin-top:1rem;
}


.wflat-content-box2-div3a-onclick-main{
    border-radius: 0.3rem;
    padding:0.5rem;
    margin-top:0.3rem;
}
.wflat-content-box2-div3a-onclick-main-txt{
    font-size:12.27;
}

}

@media screen and (max-width: 360px) {
    .wflat-content-container{
        /* background-color: aqua; */
        margin-left:1rem;
        margin-right:1rem;
    }
    .wflat-content-box{
        padding-top:9rem;
    }
    .wflat-content-box1-main{
        width:15rem;
        padding:0.5rem;
        border-radius:0.3rem;
    }
    .wflat-content-box1-container{
        margin:0rem;
    }
    .wflat-content-box2-main{
        width:15rem;
        top:37rem;
        padding:0.5rem;
        border-radius:0.3rem;
    }
    .wflat-content-box2-container{
        margin:0rem;
    }
}
